@font-face {
		font-family:'Gilroy ExtraBold';
		src: 
		
		url("../fonts/Gilroy_ExtraBold/Gilroy-ExtraBold.woff") format('woff');
	}


body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 16px;
	color:#000000;
	font-family:'Open Sans Light', Arial, sans-serif;
	background-color: #fff;
	letter-spacing: 0.01em;

	}



	/*header--------------start--------------*/	


/*.block{
	border: 1px solid #000;
}*/

	a{
		text-decoration: none;
	}
	

	.main-header{
		
	color:#000000;

	
	}

.main-header.container{
		margin: 40px auto 0;
}

	.container{
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;

	}

	.main-navigation{
		display: flex;
		flex-direction: column;
		background-color: #f7e296;
		padding: 0 0 0 60px;
		min-height:300px;
	}

  	.main-navigation a{
  		color: #000;
  	}
	.main-navigation a.main-header-logo{
		color: #000000;
		width: 200px;
		align-self: flex-start;
		margin-top: -25px;
		margin-bottom: 36px;
		display: block;
		height: 42px;
		
	}

	.main-navigation .logotype, 
	footer .logotype
	{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight: bold;
		
	}

	.search-and-user-links-wrap{
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		min-height: 16px;
		padding-right: 60px;
	}


.header_user-and-product-nav{

	margin-left: auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 220px;

}


.header-user-navigation a.login-link,
.footer_user-navigation a.login-link
{
	position: relative;
	padding-left: 26px;

}

	.header-user-navigation li:nth-child(2n+1)
{
	margin-right: 20px;

}




	.header-user-navigation .login-link:before,
	.footer_user-navigation .login-link:before
	{
		position: absolute;
		content: "";
		top: 9px;
  	left: 0;
		width: 13px;
   	height: 12px;
		background-image: url(../img/user.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.compare-link{
		position: relative;
		padding-left: 23px;
	}


	.header_user-and-product-nav .compare-link:before,
	.footer-product-nav .compare-link:before
	{
		position: absolute;
		content: "";
		top: 9px;
  	left: 0;
		width: 13px;
   	height: 12px;
		background-image: url(../img/compare.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.cart-link
	{
		position: relative;
		padding-left: 23px;
	}


	.header_user-and-product-nav .cart-link:before,
	.footer-product-nav .cart-link:before
	{
		position: absolute;
		content: "";
		top: 9px;
  	left: 0;
		width: 12px;
   	height: 12px;
		background-image: url(../img/cart.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}




	.catalog-name{
		position: relative;
		width: 540px;
		min-height: 100px;
		
	}

		.catalog-list-title
	{
		position: relative;
		display: block;
		width: 247px;
	}


		.catalog-list-title:after 
	{
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: 4px;
		right:0px;
		background-image: url(../img/plus.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

.product-item-list{
	margin: 0;
	padding: 0;
}

.sub-menu{
  display: none;
	width: 1160px;
	position: absolute;
	top: 25px;
	left: -60px;
	min-height: 100px;
	font-weight: normal;
  padding-top: 50px;
  padding-left: 60px;
  background-color: #f7e296;
  box-sizing: border-box;
  z-index: 1000;

}

.sub-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 200px;
	min-height: 100px;
}


.catalog-name:hover #subMenu
	{
		display: flex;
		z-index: 100;
		
	}

.sub-menu ul.product-item-list_2
	{
	margin-left: 56px;
	}

.sub-menu ul li a{
	letter-spacing: 0.01em;
	font-size: 15px;
	line-height: 36px;
	font-weight: normal;
	text-transform: inherit;
	font-family: "Open Sans Light", Arial, sans-serif;
}


	.site-navigation a,.catalog-name a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 0.2em;


	}

.catalog-name a
{
	line-height: 24px;
}

	.catalog-list-title:after 
	{
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: 4px;
		right:0px;
		background-image: url(../img/plus.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}


  .catalog-and-site-nav-links-wrap{
  	display: flex;
  	line-height: 24px;
  	min-height: 24px;
  	margin-bottom: 50px;
  }

.site-navigation{
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 0.2em;

}


.site-navigation li:nth-child(3n+1)
{
	margin-right: 39px;
}
.site-navigation li:nth-child(3n+3)
{
	margin-left: auto;
}



	.btn-details  {
		min-width: 220px;

	}
	a.button{
		display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		margin-left: 100px;
		padding: 10px 5px;		
		color: #000000;
		text-align: center;
		
	}
	.button:hover{
		background-color: #f0c52e;
	}

	.button:active{
		color: rgba(0,0,0,0.3);
		opacity: 0.8;
	}

	form.input-group{
		font-size: 0;
		position: relative;
		padding-bottom: 15px;
		height: 16px;
		border-bottom: 2px solid transparent;

	}

	form.input-group button{
		visibility: hidden;
	}

	form.input-group button:hover{
		background-color: #000;
		color: #fff;
	}


	form.input-group button:active{

	  background-color: #000;
		color: rgba(255, 255, 255, .3);

	}



	.search-on-site input.form-control
	{
      position: relative;
      top: -2px;		
      width: 200px;
      height: 16px;
      font-size: 15px;
      padding: 0;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 2px solid transparent;
   		    
	}

	.input-group:has(input:focus)
	{
		width: 356px;
		border-bottom: 2px solid #000;

	}


	.search-on-site input::placeholder{
		color:rgba(0, 0, 0, 0.3);
		font-size: 15px;

	}
	.search-on-site input:focus{
		outline: 0;
	
	}

	.search-on-site
{
	margin-right: 40px;
	width: 500px;
}
/*	.search-on-site input:focus ~ button:before{
		
		position: absolute;
		content: "";
		width: 356px;
		height: 2px;
		background-color:#000;
		right: 83px;
		bottom: -2px;
	}
*/
button.btn-search-submit
   {
			position: absolute;
			border: 2px solid #000;
			background-color:rgba(0, 0, 0, 0);
			color: #000;
			width: 85px;
    	height: 49px;
	    top: -16px;
	  	left: 356px;
    	font-size: 15px;

}

.search-on-site input:focus ~ button.btn-search-submit
{
	 visibility: visible;
	}
.header-user-navigation >li >a,
.header_user-and-product-nav > li > a{
	display: block;
	line-height: 30px;

}



	/*
	.navbar-search input::placeholder{
			opacity: 0.3;
		}*/

	.main-navigation a:hover,
	.navbar-search input:hover::placeholder{
		opacity: 0.6;
	}
	
	.main-navigation a:focus,
	.navbar-search input:focus::placeholder
	
	{
		opacity: 0.3;
	}


/*	.header_user_product li:last-child{
		margin-left: 20px;
        
    }*/

  .header_user_product{
  	padding-left: 0;
  }

 .dropdown-box-catalog
 {
 	width: 50%;
 }
a.catalog-list-title{
	margin-left: 0;
}

.main-navigation svg{
	margin-right: 10px;
}


.header_user-and-product-nav li:nth-child(2n+1),
.footer-product-nav li:nth-child(2n+1)

{
	margin-right:35px;
}


	.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
	}


	img{
		max-width: 100%;
		height: auto;
	}



.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;

}


.search-product-icon{
	font-size: 15px;
	line-height: 0px;
	margin-right: 19px;
	width: 16px;
	height: 16px;
	background-image: url("../img/search.svg");
}

	/*header----------------------end----------------*/

	/*main-container-------start-------*/


/*-------------------------------------------------*/

.slider{
	display: flex;
	justify-content: space-between;
/*	padding-left:30px;
*/	/*border: 2px solid green;*/
}

.column-1.container{
	margin-bottom: 95px;
	position: relative;
	margin-top: -103px;
}


.slider figure{
	margin: 0;
	padding: 0;
}

.slider .product_info{
	width: 560px;
}

.product-slider-desc a{
  margin-left: 0;
	width: 220px;
	box-sizing: border-box;
}
.product-slider-desc{
	margin-bottom: 55px;
}

.range-slider {
  height: 3px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 0%;
  right: 90%;
  position: absolute;
  border-radius: 5px;
  background-color:#91c92f;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  left: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
 /* border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;*/
  pointer-events: auto;
  background-image: url(img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: left;

  -webkit-appearance: none;
  appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 30px 0;
  width: 100%;
/*  display: flex;
  justify-content: center;
  align-items: center;*/
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  border:none;
  width: 40px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}
/*-------------------------------------------------*/


/*	.product-title{
		margin-top: -85px;
	}*/

	p.product-title{
		margin: 0;
		margin-top: -60px;
		width: 502px;
		margin-bottom: 30px;
	} 

	.product-title{
		text-align: left;
		font-size: 47px;
		line-height: 55px;
		font-family: "Gilroy ExtraBold", Arial, sans-serif;
	}

	.number-slider{
	display: inline-block;
	margin-left: 206px;
	width: 201px;
	height: 131px;
}
.slider-first-page .number-slider
{
	margin-left: 228px;
}
.inline-slider{
	display: inline-block;
	margin-bottom: 96px;
}

	.number-slider {
		font-size: 179.2px;
		line-height: 136.2px;
		color: #ffffff;
		font-family: "Gilroy ExtraBold", Arial, sans-serif;

	}

input[type="radio"]{
	display: none;

}


.slider-controls label{
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 7px;

}
.slider-controls label:before{
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000; /*white*/
  box-shadow: 0 0 0 1px #000;
}

.slider-controls label:after{
	  content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    border: 1.5px solid #000;

    transform: scale(0);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;

}
.slider-controls{
    position: absolute;
	  right: 75px;
    bottom: 150px;
    z-index: 100;
}

#btn1:checked ~.slider-controls label[for="btn1"]:after,
#btn2:checked ~.slider-controls label[for="btn2"]:after,
#btn3:checked ~.slider-controls label[for="btn3"]:after
{
		transform: scale(1.0);
		transform: translate(-50%, -50%);
	
 }

.slider-inner{
	overflow: hidden;
}
.slider-slides{
	width: 300%;
	transition: transform .2s ease;
}
.slider-slides li{
	float: left;
	width: 1160px;
	box-sizing: border-box;
}

ul.slider-slides{
	margin: 0;
	padding: 0;
}

.slider-first-page .gallery{
	padding-left: 90px;
}

.slider-second-page .gallery{
	padding-left: 116px;
}

.slider-third-page .gallery{
	padding-top: 57px;
	padding-left: 31px;
	width: 560px;
	box-sizing: border-box;

}
.slider-third-page .gallery a{
	display: block;
	width: 526px;
	height: 334px;
	}

	.inline-slider hr{
		margin: 0;
		width: 100px;
		height: 7px;
		border: transparent;
		background-color: #fff;
	}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#btn1:checked ~ .slider-inner .slider-slides { 
    transform: translate(0);
}

#btn2:checked ~ .slider-inner .slider-slides { 
    transform: translateX(-1160px);
}

#btn3:checked ~ .slider-inner .slider-slides { 
    transform: translateX(-2320px);
}



section.products{
	margin-bottom: 184px;
 	font-family: 'Gilroy ExtraBold', Arial, sans-serif;
}

.product-description{
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 40px;

}


	.table-product tr.second-row,
	.desc-product span{
		font-size: 13px;
		line-height: 20px;
		color: #464646;
	}

	.first-row td{
		width: 160px;
	}

	.table-product tr,
	.desc-product p{
			margin: 0;
    	font-size: 36px;
    	line-height: 48px;
	}
	.desc-product p{
			margin: 0;
    	font-size: 36px;
    	line-height: 36px;
	}
	.product-list figcaption{
		font-size: 18px;
		line-height: 24px;
		color: #000000;
	}

	.product-list figure{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 160px;
		height: 160px;
	  background-color: #f7e296;
	  margin-bottom: 35px;
	}

	.services{
			font-family: 'Gilroy ExtraBold', Arial, sans-serif;
			background-color: #e5e5e5;
			margin-bottom: 94px;
	}

	.services-list .button_active{
		font-size: 18px;
		color: #f7e296;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	  display: inline-block;
	  height: 15px;

	}

		.services-list .button{
		font-size: 18px;
		line-height: 24px;
		color: #000000;
		width: 130px;
	  padding: 8px 10px 8px 15px;
	}
	 .product-list, .services-list, .desc_list, .brands-list{
		list-style: none;
	}
	.common-services p{
		font-family: "Open Sans Light", Arial, sans-serif;
		font-size: 15px;
		line-height: 30px;
		color: #464646;
	}
	.company-list{
		list-style-type: circle;
		padding-left: 5px;
		list-style-position: inside;
	}
 
 .company-list li::marker{
 	 color: rgba(0, 0, 0, 0.3);
 }

	.about-us h2, .contacts h2{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-family: 47px;
		font-size: 48px;

	}
	.about-us p, .contacts p{
		font-size: 15px;
		line-height: 30px;
		color: #464646;
		letter-spacing: 0;
	}
	.company-list a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		color: #000000;
		font-size: 12px;
		line-height: 48px;
		font-weight: bold;
		letter-spacing: 0;
	}

	.about_company .button, .write_us .button{
		min-width: 260px;
	}

	section.brands{
		margin-bottom: 90px;
	}

	  .brands .brands-list li{
    	opacity: 0.2;
    	width: 260px;
    	height: 100px;
    }
	.brands .brands-list li:hover{
		opacity: 1;
	}

	.brands-list{
		margin: 0;
		padding: 0;
		display: flex;
    justify-content: space-between;

	}


	.products ul.product-list{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}

.main-wrap.container{
	display: flex;
	justify-content: space-between;
}
.common-services .services-list{
		margin: 0;
		padding: 0;
}
.services-list li.current_list{
	background-color: #000;
	height: 40px;
  padding: 12px 0 12px 18px;
  box-sizing: border-box;
}

.common-services{
	border-right: 7px solid #000000;
	min-height: 320px;
	margin-top: -100px;
	padding-top: 80px;
	width: 280px;
}


  .desc-deliver p{
  	font-family: "Open Sans Light", Arial, sans-serif;
  	font-size: 15px;
  	line-height: 30px;
  	width: 400px;
  	margin: 0;
  	padding: 0;

  }


.services-list a.button{
	margin-left: 0;
}


.services-list li{
	margin-bottom: 26px;
	position: relative;
}


.service-description
{
    position: absolute;
    left: 286px;
    display: flex;
    padding-left: 120px;
  
}

.delivery-list .service-description,
.delivery-list .logo-service
{
	margin-top: -25px;
}

.service-description p.desc-text{
	width: 460px;
}

.services-list h3{
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	margin-top: -12px;
	margin-bottom: 43px;
}

.logo-service{
	width: 200px;
	margin-left: 100px;
}


.warranty-list .service-description
{
	margin-top: -90px;
} 

.warranty-list .logo-service{
	margin-top: -25px;
}

.credit-list .service-description
{
	margin-top: -156px;
} 

.credit-list .logo-service
{
	margin-top: -19px;
	margin-left: 70px;
}
 
.delivery-list div.service-description, 
.warranty-list div.service-description, 
.credit-list div.service-description
 {
	display: none;      
}

.services-list li.current_list div.service-description{
	display: flex;
}


	.product-list figure img{
		width: 50%;
		height: 50%;
	}
	.product-list li:hover figure{
		background-color: #f1c52e;
	}
  .product-list figcaption
  {
  	
  	font-size: 18px;
  	line-height: 24px;

  }
    .product-list li:active figure{
    	opacity: 0.6;
    }

  .column-2.container{
  	margin-bottom: 184px;
  } 

.column-3.container{
  	margin-bottom: 90px;
  } 

.desc_list.deliver h3{
	font-size: 47px;
	line-height: 48px;
	margin-top: -30px;
	margin-bottom: 40px;

}

  .services-list li a.button:active{
  	font-family: "Gilroy Extra Bold", Arial, sans-serif;
  	letter-spacing: 0.2em;
  	text-align: unset;

  	background-image: unset;
  	opacity: 1;
  	color: #f7e184;
  	background-color: #000000;
  	width: 280px;
  	box-sizing: border-box;
  	/*width: 250px;
    height: auto;*/
  }




.about-us-and-contact-wrapper{
	display: flex;
	justify-content: space-between;
}

.about-us{
	width: 465px;
}

.contacts{
	width: 560px;
}

.contact_map{
	 margin-right: 0;
    margin-left: 0;
}

.about_company a.button, .write_us a.button{
	margin-left: 0;
}
   

/*.contact_map img{
	height: 210px;
    width: 448px;
}*/

.about-us, .contacts{
	position:relative;
}


.about-us:before, .contacts:before{
    position:absolute;
    left:0;
    width:20%;
    border-top:5px solid #000;
    content:"";
}

.about-us h2, .contacts h2{
	margin-top: 50px;
	margin-bottom: 50px;
}

.desc-device{
	margin-bottom: 40px;
}
.description_about_us{
	margin-bottom: 20px;
}
.contact_desc{
	margin-bottom: 33px;
}

/*	main-conrainer------------end---------*/

/*footer-------------start--------------*/
	.main-footer{
		height: 320px;
		background-color: #464646;
		box-sizing: border-box;
		padding-top: 60px;
	}


	footer .logotype{
		color: #ffc600;
		margin-bottom: -75px;
		line-height: 38px;
	}



	.main-footer .container{
		display: flex;
		justify-content: space-between;
		height: 204px;

	}

.footer_contacts_line{
	display: inline-block;
	margin: 0;
	width: 40%;
	background-color: #ffc600;
	height: 6px;
	border: none;
	margin-bottom: 12px;

	
}
.footer-contacts-and-logo{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 260px;
	color: #fff;

}


	.footer-contacts .logotype{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		color: #ffc600;
		text-transform: uppercase;
		font-weight: bold;

	}

	.footer-social-and-services{
		text-align: center;
		width: 440px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

.footer_services a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		list-style: none;

	}
	.footer_services{
		list-style: none;
		padding-left: 0;
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 440px;
	}
		

	.footer_social{
	
	
		padding-left: 0;
		margin-top: 50px;

	}
	.footer_social li
	{
		display: inline-block;
		margin-right: 22px;
	}

	.footer_social li:last-child{
		margin-right: 0;
	}

	.footer_social img{
		opacity: 0.3;
	}
 	.footer_social li:nth-child(n+1){
 	}


.footer_user-navigation .login-link:before
{
	background-image: url("../img/user-footer.svg");
}
.footer-product-nav .compare-link:before
{
	background-image: url("../img/compare-footer.svg");
}
.footer-product-nav .cart-link:before
{
	background-image: url("../img/cart-footer.svg");
}
.address{
	margin-top: 40px;
}



.footer_user_product a{
		line-height: 36px;
		color: #ffffff;
	}

	.footer_user-navigation a{
		color: #fff;
	}

	.footer_user-navigation a,
	.footer-product-nav a
	{
		display: block;
		line-height: 30px;
		color: #fff;
	}

	.footer-product-nav
{
	display: flex;
	flex-wrap: wrap;

}


	.footer_user-navigation li:first-child{
		margin-right: 20px;
	}
.footer_user-navigation li.login-item
	{
		margin-right: 40px;
	}

	.footer_user-navigation li.compare-item
	{
		margin-right: 35px;
	}
	.footer_serv_dev{
		text-align: center;
	}
	.footer-menu-nav
{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
}


.footer-coopyright-and-nav{
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	width: 360px;
	color: #fff;
	text-align: right;
	padding-top: 10px;
}

.footer_user_product{
	float: right;
}

.footer_user_product li{
	display: inline-block;
	margin-right: 38px;
}

.footer_user_product li:last-child
{
	margin-right: 0;
}

.footer-contacts-and-logo .logotype:hover,
 .footer-social-and-services li:hover,
  .footer-logo:hover,
  .footer-logo:hover
{
	opacity: 0.6;
	cursor: pointer;
}
.footer-contacts-and-logo .logotype:active,
 .footer-social-and-services li:active,
 .footer-logo:active,
 .footer-logo:active

{
	opacity: 0.3;
}



.footer_user-navigation a:active{
	opacity: 0.3;
}

.footer_user-navigation a:hover,
.footer_social li:hover,
.footer-product-nav a:hover
{
	opacity: .6;
}
.footer_user-navigation a:active,
.footer_social li
{
	opacity: .3;
}

.footer_social li:active{
	opacity: .1;
}

.footer-coopyright
{
	margin-top: -20px;
}


	/*footer-------------end--------------*/

	/*---modal-------------start--------------*/


	.modal
	{
		position: fixed;
		color: #000;
		background-color: #fff;
		background-position: 0 0;
		background-repeat: no-repeat;
		box-shadow:5px 15px 15px 2px  rgba(0, 0, 0, 0.2),
	  					-5px 5px 15px 2px rgba(0, 0, 0, 0.2);

		
	}


.modal-write_us
{

		width: 760px;
		height: 370px;
		padding: 92px 100px;
		left: 50%;
		margin-left: -480px;
		top: 50%;
		margin-top: -300px;
		z-index: 5;
		font-size: 0;

	

}	
.modal-write_us form
{
	width: 760px;
	font-size: 0;
}


.modal-write_us form >p:first-child
{
	margin-right: 39px;

}


.modal-form p
{
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;

}



.modal-form label
{
	position: absolute;
	left: 0;
	top: -33px;


}


.modal-form label,
.modal-form input,
.modal-form textarea
{
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;

}


.modal-form p.text-letter
{
	margin-top: 60px;
}



.modal-form p.text-letter textarea
{
	width: 740px;
  min-height: 140px;
  padding-left: 20px;
  padding-top: 14px;
  border: none;
  background-color:#f2f2f2; ;
}


.modal-form input::placeholder,
.modal-form textarea::placeholder

{
	letter-spacing: 0em;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height:18px;
	color:rgba(70,70,70,0.4);

}
.modal-form input{
	outline: unset;
	border:none;
	background-color: #f2f2f2;
	width: 340px;
	height: 50px;
	padding: 0;
	padding-left: 20px;
}

.modal-form p:hover input{
		background-color: #eaeaea;
}
.modal-form input:focus{
	color:rgba(70,70,70,1);
	outline: 2px solid #f7e296;
	border: none;
	background-color: #ffffff;
}

.modal-form input.error{
	background-color: #f6dada;
}


button.modal-close
{
	position: absolute;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	right: 27px;
	top: 27px;

	background-color: #f7e296;
	border: none;

}

button.modal-close:before
{
	content: "";
	position: absolute;
	top: 27px;
	right: 15px;
  background-color: #fff;
	width: 25px;
	height: 3px;
	transform: rotate(45deg);

}
button.modal-close:after
{
	content: "";
	position: absolute;
 		top: 27px;
	right: 15px;
	width: 25px;
	  background-color: #fff;

	height: 3px;
	transform: rotate(-45deg);
}


button.button{

display: inline-block;
font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
line-height: 24px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.2em;
background-image: linear-gradient(transparent 0%, transparent 40%,
  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
margin-left: 100px;
padding: 10px 5px;		
color: #000000;
text-align: center;
border: none;
background-color: transparent;
}


.modal-form button
{
	margin-top: 55px;
	margin-left: 0;
	width: 200px;
}


.modal-map
{
	display: none;
	width: 960px;
	height: 560px;
	left: 50%;
	margin-left: -480px;
	top: 120px;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
	background-image: url(../img/map-big.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}



	/*---modal-------------ends--------------*/


  















	