@font-face {
		font-family:'Gilroy ExtraBold';
		src: 
		
		url("../fonts/Gilroy_ExtraBold/Gilroy-ExtraBold.woff") format('woff');
	}


body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color:#000000;
	font-family:'Open Sans Light', Arial, sans-serif;

	background-color: #fff;
	letter-spacing: 0.01em;

	}



	/*header--------------start--------------*/	


.block{
	border: 1px solid #000;
}

	a{
		text-decoration: none;
	}
	.main-header p{
	   padding: 0;
	   margin: 0;
	}

	.main-header{
		
	color:#000000;
	height: 300px;

	
	}

.main-header.container{
		margin: 40px auto;
}

	.container{
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;

	}



	.main-navigation{
		display: flex;
		flex-direction: column;

		background-color: #f7e296;
		padding: 0 60px;
		height: 300px;
	}

	.main-navigation a{
		color: #000000;
		width: 200px;
		align-self: flex-start;
		margin-top: -27px;
		margin-bottom: 36px;
		
	}

	.main-navigation .logotype{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;
		font-weight: 700;

	}

	.search-and-user-links-wrap{
		display: flex;
		justify-content: space-between;

	}
	.search-on-site{
		width: 440px;
		
	}

	.header_user-and-product-nav{
		width: 500px;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.catalog-name{
		width: 300px;
		background-color: yellow;
	}

	.site-navigation a,.catalog-name a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;


	}

	.header_user-navigation, .header_user_product, .site-navigation,
	.dropdown-block-content li{

		list-style: none;

	}



  .catalog-and-site-nav-links-wrap{
  	display: flex;
  	justify-content: space-between;
  }



.site-navigation{
	width: 500px;
	margin: 0;
	padding: 0;

}




	.btn-details  {
		min-width: 220px;

	}
	a.button{
		display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		margin-left: 100px;
		padding: 10px 5px;		
		color: #000000;
		text-align: center;
		
	}
	.button:hover{
		background-color: #f0c52e;
	}

	.button:active{
		color: rgba(0,0,0,0.3);
		opacity: 0.8;
	}





	form.input-group{
		position: relative;

	}


			.navbar-search input{
			width: 300px;
			border: none;
			outline: none;
			background-color: rgba(255,255,255,0.0);
			padding: 10px 0;
			margin-left: 10px;
			margin-top: 15px;
			border-bottom: 2px solid transparent;


		}

		.navbar-search input:-webkit-autofill{
			 transition: background-color 5000s ease-in-out 0s;
								}


	.navbar-search button{
		position: absolute;
		bottom: 0.5px;
		opacity: 0;
		background-color: #000000;
		padding: 8px 8px;
		color:#ffffff;
		border: 2px solid #000;

	}


	.navbar-search input:focus~button{
			
			opacity: 1;
			background-color: rgba(255,255,255,0.1);
			color:#000000;

	}


	.navbar-search input:focus{
	
		 border-bottom: 2px solid #000000;
    
	}

	.navbar-search input:focus~button:hover{
		
			opacity: 1;
		  background-color: #000000;
			color:#ffffff;
	
	}
	.navbar-search button:active{
		opacity: 1;
		background-color: #000000;
		color:rgba(255,255,255,0.3);

	}



.visually-hidden{
	display: none;
}
	

	
	.navbar-search input::placeholder{
			opacity: 0.3;
		}

	.main-navigation a:hover,
	.navbar-search input:hover::placeholder{
		opacity: 0.6;
	}
	
	.main-navigation a:focus,
	.navbar-search input:focus::placeholder
	
	{
		opacity: 0.3;


	}


/*	.header_user_product li:last-child{
		margin-left: 20px;
        
    }*/

    .header_user_product{
    	padding-left: 0;
    }






   .dropdown-box-catalog{
   	width: 50%;
   }
a.catalog-list-title{
	margin-left: 0;
}

.main-navigation svg{
	margin-right: 10px;
}



.header_user-and-product-nav li{
	display: inline-block;
}


.header_user-and-product-nav li img{
	margin-left:40px;
}
.site-navigation li{
	display: inline-block;
}
.site-navigation li a{
	padding: 0 20px;
}


	/*header----------------------end----------------*/

	/*main-container-------start-------*/


/*-------------------------------------------------*/

.slider{
	display: flex;
	justify-content: space-between;
	padding-left:90px;
	height: 486px;
	border: 2px solid green;
}

.column-1.container{
	margin-bottom: 100px;
}


.slider figure{
	margin: 0;
	padding: 0;
}

.slider .product_info{
	background-color: lightblue;
	width: 557px;
	padding: 10px 0;

}





.range-slider {
  height: 3px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 0%;
  right: 90%;
  position: absolute;
  border-radius: 5px;
  background-color:#91c92f;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  left: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
 /* border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;*/
  pointer-events: auto;
  background-image: url(img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: left;

  -webkit-appearance: none;
  appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 30px 0;
  width: 100%;
/*  display: flex;
  justify-content: center;
  align-items: center;*/
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  border:none;
  width: 40px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}
/*-------------------------------------------------*/


	.product-title{
		margin-top: -85px;
	}


	.product-title b{
		text-align: left;
		font-size: 47px;
		line-height: 55px;
		font-weight: 1000;
		font-family: "Gilroy ExtraBold", Arial, sans-serif;
	}

	.number-slider{
	display: inline-block;
	margin-top: -17px;
	margin-left: 15px;
}


	.number-slider b{
		font-size: 179.2px;
		line-height: 179.2px;
		color: #ffffff;
		font-family: "Gilroy ExtraBold", Arial, sans-serif;

	}

input[type="radio"]{
	display: none;

}
.slider-controls label{
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #fff; /*white*/
  margin-left: 10px;
  box-shadow: 0 0 0 1px #000;
}

#btn1:checked ~.slider-controls label[for="btn1"]:after,
#btn2:checked ~.slider-controls label[for="btn2"]:after,
#btn3:checked ~.slider-controls label[for="btn3"]:after
{

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    

}


.slider-inner{
	overflow: hidden;
}
.slider-slides{
	width: 300%;
	transition: transform .8s ease;
}
.slider-slides section{
	float: left;
	width: 1160px;
	box-sizing: border-box;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#btn1:checked ~ .slider-inner .slider-slides { 
    transform: translate(0);
}

#btn2:checked ~ .slider-inner .slider-slides { 
    transform: translate(-1160px);
}

#btn3:checked ~ .slider-inner .slider-slides { 
    transform: translate(-2320px);
}


	section.products{

    	font-family: 'Gilroy ExtraBold', Arial, sans-serif;
	}

	.product-description{

		font-size: 15px;
		line-height: 30px;
	}

	.table-product tr.second-row,
	.desc-product span{
		font-size: 13px;
		line-height: 20px;
		color: #464646;
	}

	.table-product tr,
	.desc-product p{

    	font-size: 36px;
    	line-height: 48px;


	}

	.product-list figcaption{
		font-size: 18px;
		line-height: 24px;
		color: #000000;
	}

	.product-list figure{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 160px;
		height: 160px;
	  background-color: #f7e296;
	  margin-bottom: 35px;
	}




	.services{
			font-family: 'Gilroy ExtraBold', Arial, sans-serif;
			background-color: #e5e5e5;
			margin-bottom: 94px;
	}


	.services-list .button_active{
		font-size: 18px;
		line-height: 24px;
		color: #f7e296;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	  display: inline-block;
	  padding: 8px 10px 8px 20px;
	  width: 130px;

	}


		.services-list .button{
		font-size: 18px;
		line-height: 24px;
		color: #000000;
		width: 130px;
	  padding: 8px 10px 8px 15px;



	}
	 .product-list, .services-list, .desc_list, .brands-list{
		list-style: none;
	}

	.common-services p{
		font-family: "Open Sans Light", Arial, sans-serif;
		font-size: 15px;
		line-height: 30px;
		color: #464646;
	}

	.company-list{
		list-style-type: circle;
		padding-left: 5px;
		list-style-position: inside;
	}
 
 .company-list li::marker{
 	 color: rgba(0, 0, 0, 0.3);
 }

	.about-us h2, .contacts h2{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-family: 47px;
		font-size: 48px;

	}
	.about-us p, .contacts p{
		font-size: 15px;
		line-height: 30px;
		color: #464646;
		letter-spacing: 0;
	}
	.company-list a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		color: #000000;
		font-size: 12px;
		line-height: 48px;
		font-weight: bold;
		letter-spacing: 0;

	}



	.about_company .button, .write_us .button{
		min-width: 260px;
	}

	section.brands{
		margin-bottom: 90px;
	}

	  .brands .brands-list li{
    	opacity: 0.2;
    	width: 260px;
    	height: 100px;

    }
	.brands .brands-list li:hover{
		opacity: 1;
	}

	.brands-list{
		margin: 0;
		padding: 0;
		display: flex;
    justify-content: space-between;

	}
/*.catalog-name{
		line-height: 60px;
		display: block;
		}*/

	.dropdown-block-content{

		width: 1044px;

		display: none;
	
	}

	.catalog-name:hover~.dropdown-block-content{
		display: block;
	}

	.product-item-list{
		display: none;
		margin: 0;
		padding: 0;
	}

	.dropDown-menu-column:nth-child(1){
		width: 225px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: normal;
		justify-content: normal;
		box-sizing: border-box;
		align-items: normal;
		z-index: 10;
	}
	.dropDown-menu-column:nth-child(n+1){
    min-width: 170px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: normal;
		justify-content: normal;
		box-sizing: border-box;
		align-items: normal;
		z-index: 10;
	}

	.products ul.product-list{
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}

.main-wrap.container{
	display: flex;
	justify-content: space-between;
}
.common-services .services-list{
		margin: 0;
		padding: 0;
}
.services-list li:first-child{
	background-color: #000;
	width: 280px;
	height: 40px;

}

.common-services{
	border-right: 7px solid #000000;
	min-height: 320px;
	margin-top: -100px;
	padding-top: 80px;
}


  .desc-deliver p{
  	font-family: "Open Sans Light", Arial, sans-serif;
  	font-size: 15px;
  	line-height: 30px;
  	width: 400px;
  	margin: 0;
  	padding: 0;

  }

.desc_list.deliver{
	width: 500px;
	margin-left: 115px;
}




.services-list a.button{
	margin-left: 0;
}


.services-list li{
	margin-bottom: 30px;
}

.logo-service{
	width: 200px;
	margin-left: 100px;
}
.logo-service img{
	margin-top: -30px;
}


	.product-list figure img{
		width: 50%;
		height: 50%;
	}


	.product-list li:hover figure{
		background-color: #f1c52e;
	}

    .product-list figcaption{
    	
    	font-size: 18px;
    	line-height: 24px;

    }
    .product-list li:active figure{

    	opacity: 0.6;
    }
 

  .column-2.container{
  	margin-bottom: 180px;
  } 

.column-3.container{
  	margin-bottom: 90px;
  } 

.desc_list.deliver h3{
	font-size: 47px;
	line-height: 48px;
	margin-top: -30px;
	margin-bottom: 40px;


}

    .services-list li a.button:active{
    	font-family: "Gilroy Extra Bold", Arial, sans-serif;
    	letter-spacing: 0.2em;
    	text-align: unset;
    	padding-left: 90px;
    	background-image: unset;
    	opacity: 1;
    	color: #f7e184;
    	background-color: #000000;
    	width: 400px;
    	/*width: 250px;
	    height: auto;*/
    }


.garantiya, .credit{
	display: none;

}




.about-us-and-contact-wrapper{
	display: flex;
	justify-content: space-between;
}

.about-us{
	width: 465px;
}

.contacts{
	width: 560px;
}

.contact_map{
	 margin-right: 0;
    margin-left: 0;
}

.about_company a.button, .write_us a.button{
	margin-left: 0;
}
   

.contact_map img{
	height: 210px;
    width: 448px;
}

.about-us h2, .contacts h2{
	position:relative;
}


.about-us h2:before, .contacts h2:before{
    position:absolute;
    top:-40px;
    left:0;
    width:20%;
    border-top:5px solid #000;
    content:"";
}



/*	main-conrainer------------end---------*/

/*footer-------------start--------------*/
	.main-footer{
		background-color: #464646;
	}



	.main-footer .container{
		display: flex;
		justify-content: space-between;
		padding-top: 65px;
		padding-bottom: 65px;
	}


	.main-footer ul{
		margin: 0;
		padding: 0;
	}

.footer_contacts_line{
	display: inline-block;
	margin: 0;
	width: 40%;
	margin-top: 60px;
	background-color: yellow;
	height: 6px;
	border: none;
	margin-top: 80px;
	
}
.footer-contacts-and-logo{
	margin: 0;
	padding: 0;
	width: 200px;

}





	.footer-contacts .logotype{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 48px;
		line-height: 48px;
		color: #ffc600;
		text-transform: uppercase;
		font-weight: 700;

	}

	.footer-social-and-services{
		width: 440px;
	}

.footer_services a{
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		list-style: none;




	}
	.footer_services{
		list-style: none;
		padding-left: 0;
	}



	

	.footer_social{
	
		font-size: 0;
		padding-left: 0;
		margin-top: 60px;

	}

	.footer_social img{
		opacity: 0.3;
	}
 	.footer_social li:nth-child(n+1){
 	}

	.footer_user-navigation, .footer_user_product, .footer_social{
		list-style: none;
	}
	.footer_user-navigation a, .footer_user_product a{
		line-height: 36px;
		color: #ffffff;
	}

	.footer_serv_dev{
		text-align: center;
	}



	.compare-link svg{
	}


.footer-coopyright-and-nav{
	width: 325px;
}

.footer_user-navigation{
	padding-left: 0;

}





	/*footer-------------end--------------*/

	/*---modal-------------start--------------*/


	
	

    .modal-form input::placeholder{
    	letter-spacing: 0em;
    	font-family: "Open Sans", Arial, sans-serif;
    	font-size: 14px;
    	line-height:18px;
    	color:rgba(70,70,70,0.4);

    }
    .modal-form input{
    	outline: unset;
    	border:none;
    	background-color: #f2f2f2;
    }

    .modal-form p:hover input{
    		background-color: #eaeaea;
    }
    .modal-form input:focus{
    	color:rgba(70,70,70,1);
    	outline: 2px solid #f7e296;
    	border: none;
    	background-color: #ffffff;
    }

    .modal-form input.error{
    	background-color: #f6dada;
    }

    button.modal-close{
    	border:none;
    	background-color: #ffffff;
    }
    button.button{
    display: inline-block;
		font-family: 'Gilroy ExtraBold', Arial, sans-serif;
        font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		background-image: linear-gradient(transparent 0%, transparent 40%,
		  #f0c52e 40%,  #f0c52e 60%, transparent 60%, transparent 100% );
		margin-left: 100px;
		padding: 10px 5px;		
		color: #000000;
		text-align: center;
		border: none;
		background-color: transparent;
    }


	/*---modal-------------ends--------------*/


  















	